/* New initiative page */

.btn.btn-yes { background-color: var(--green);}
.btn.btn-no {background-color: var(--orange);}
.btn.btn-yes, .btn.btn-no{ font-size: 1.5em;}
.btn.btn-yes:hover, .btn.btn-no:hover {color: white;}

#col-init-explanation{ width: 70%; }

#init-explanation {height: 100px; width: 100%;}
#submit-btn-container {text-align: center;}
.btn.btn-submit {background-color: var(--spiritgreen); width: 50%; color:white;}
.btn.btn-submit:hover {
    color: black;
}

#initiative-table-div {
    display: none;
    /* text-align: center; */
}

#initial-questions {
    text-align: center;
}
