.btn-info {
    border-radius: 0%;
    background-color: var(--lightBlue);
    margin-left: 10px;
    color: black;
}

.btn-edit {
    background-color: var(--blue);
    margin-left: 10px;
}

.btn-see-calcs {
    display: none;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--blue);
}

.icon-button:hover {
    color: var(--orange);
}