:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --lightGray: #F2F2F2;
    --white: #FBFDFB;
    --black: #212121;
    --green: #71BC78;
    --citygreen: #004445;
    --spiritgreen: #279989;
    --palegreen: #9FD5B3;
    --accentyellow: #feb70d;
    --nearblack: #18252a;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

/* Button styling */

.btn {
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-right : 2px;
    margin-left: 2px;
    border-radius: 10px;
    background-color: gray;
    color: white; 
}

