:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --lightGray: #F2F2F2;
    --white: #FBFDFB;
    --black: #212121;
    --green: #71BC78;
    --citygreen: #004445;
    --spiritgreen: #279989;
    --palegreen: #9FD5B3;
    --accentyellow: #feb70d;
    --nearblack: #18252a;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

/* Every page */

/* start by hiding everything */
#welcome-page{display: none;}
#prompt-div{display: none;}

body {
    margin: 10px;
}

/* Button styling */

.btn {
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: gray;
    color: white; 
}

/* Action buttons */

.action-btns {
    text-align: center;
}

.delete {
    background-color: #ee9286;
}
.delete .btn-delete, .keep .btn-carryover, .supp .btn-supplemental {
    background-color: #373A37;
}
.keep {
    background-color: #90ee90;
}
.supp {
    background-color: #e0b472;
}

.btn-delete {background-color: var(--orange);}
.btn-supplemental { background-color: var(--yellow);}
.btn-carryover {background-color: var(--green);}


.error-message {
    color: red;
}

/* confirm button */
.confirm-btn:hover {
    background-color: var(--green);
}

