#sidebar-panel {
    background-color: lightgrey;  
    /* min-height: 100vh; Full height of viewport */
  }

#supp-total .stat {
    color: var(--yellow);
}

.stat {
    font-weight: bold;
}

#sidebar-panel {
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0; /* Sidebar appears on the left */
    background-color: #FFFFFF; /* White background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for some depth */
    border-right: 2px solid #DDDDDD; /* Right border */
    border-radius: 0px 0px 0px 15px; /* Rounded corners on the left */
    /* margin-top: var(--header-height); */
    width: var(--sidebar-width);
    margin: 0px;
  }
  
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar-title {
  color: var(--darkGray);
  font-weight: bold;
  border-bottom: 1px solid var(--citygreen);
}

hr {
  margin-top: -5px;
  margin-bottom: 8px;
}

h6 {
  font-weight: 600;
}

.section-header {
  background-color: var(--mediumGray);
}

.sidebar-stat-line {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between children */
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

.edit-icon {
  color: var(--spiritgreen);
  cursor: pointer;
  font-size: 16px; /* Adjust the size as needed */
  margin-left: 10px;
}

.edit-icon:hover {
  color: var(--citygreen);
}

.stat-label {
  margin-right: auto; /* Push next elements to the right */
}

.stat {
  margin-left: 5px; /* Optional: Add some space between currency and edit icon */
}

.sidebar-stat-line.fund-total .stat {
  margin-right: 05px; /* 25px lines up with lines above (with edit symbol) */
}