textarea {height: 100px; width: 100%;}

textarea, input {
    margin-bottom: 20px;
}

.btn-submit {
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    background-color: var(--spiritgreen);
}

#new-form label {
    display: block; /* Ensure label is on its own line */
    margin-bottom: 0.5em; 
}

#new-form select {
    min-width: 300px;
}