textarea {height: 100px; width: 100%;}

textarea, input, select {
    margin-bottom: 5px;
}

.btn-submit {
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    background-color: var(--spiritgreen);
}

#new-form label {
    display: block; /* Ensure label is on its own line */
    margin-bottom: 0.25em; 
}

#new-form select {
    min-width: 300px;
}

/* Thicker red border when focused */
input[readonly]:focus {
    border: 2px solid red;
    outline: none; /* Remove the default outline */
}

.error-message {
    color: red;
}