#sidebar-panel {
    background-color: lightgrey;  
    /* min-height: 100vh; Full height of viewport */
  }

#supp-total .stat {
    color: var(--yellow);
}

.stat {
    font-weight: bold;
}

#sidebar-panel {
    min-width: 250px; /* Adjust the width as per your design requirements */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0; /* Sidebar appears on the left */
    background-color: #FFFFFF; /* White background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Some top padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for some depth */
    border-right: 2px solid #DDDDDD; /* Right border */
    border-radius: 15px 0px 0px 15px; /* Rounded corners on the left */
  }
  
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}