#nav-btns {
    margin: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    /* position: absolute; or 'absolute' depending on use-case */
    /* top: 100px; Distance from the top of the viewport or the closest positioned ancestor */
}

#btn-next, #btn-last {
    background-color: var(--darkGray);
}

#btn-next:hover, #btn-last:hover {
    background-color: var(--yellow);
    color: var(--darkGray);
}

/* Add style for when you cannot click the next button */
#btn-next.disabled, #btn-last.disabled,
#btn-next.disabled:hover, #btn-last.disabled:hover {
    background-color: gray;
    color: white;
    pointer-events: none;
}