:root {
    /* colors */
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --mediumGray: #D0D0D0;
    --lightGray: #F2F2F2;
    --white: #FBFDFB;
    --black: #212121;
    --green: #71BC78;
    --citygreen: #004445;
    --spiritgreen: #279989;
    --palegreen: #9FD5B3;
    --verypalegreen: #DFF5E3;
    --accentyellow: #feb70d;
    --nearblack: #18252a;
    /* fonts */
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    /* spacing */
    --header-height : 125px;
    --sidebar-width: 250px;
}

/* Button styling */

.btn {
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-right : 2px;
    margin-left: 2px;
    border-radius: 10px;
    background-color: gray;
    color: white; 
}

/* Font application for all text  */
body, button, input, textarea, select, .sidebar, table {
    font-family: var(--font-family), sans-serif;
  }

#main-panel {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center; /* This will center content vertically */
    min-height: calc(100vh - var(--header-height)) ; 
    /* max-width: calc(100vw - var(--sidebar-width));  */
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

div.row {
    margin: 0px;
}