:root {
    --orange: #FB6523;
    --yellow: #D99733;
    --blue: #43748E;
    --lightBlue: #b7c9e2;
    --darkGray: #373A37;
    --lightGray: #F2F2F2;
    --white: #FBFDFB;
    --black: #212121;
    --green: #71BC78;
    --citygreen: #004445;
    --spiritgreen: #279989;
    --palegreen: #9FD5B3;
    --accentyellow: #feb70d;
    --nearblack: #18252a;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

/* Every page */

h1 {
    text-align: center;
}

h2 {
    color: var(--citygreen);
    text-align: center;
}

body {
    margin: 20px;
}

/* Button styling */

.btn {
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: gray;
    color: white; 
}

/* Welcome page (index.html) */

#load-saved-data-btn {
    display: none;
}

.step {
    width: 15%;
    height: 55%;
    font-size: 1.75em;
}

#step-upload { background-color: var(--blue);}
#step-initiatives { background-color: var(--orange); }
#step-revenue {background-color: var(--green);}
#step-personnel {background-color: var(--citygreen);}
#step-nonpersonnel {background-color: var(--yellow);}
#step-finish {background-color: var(--spiritgreen);}

#welcome-page {
    text-align: center;
}

/* New initiative page */

.btn-yes { background-color: var(--green);}
.btn-no {background-color: var(--orange);}

#col-init-explanation{ width: 70%; }

#init-explanation {height: 100px; width: 100%;}
#submit-btn-container {text-align: center;}
.btn-submit {background-color: var(--spiritgreen); width: 50%}

#initiative-table-div {
    display: none;
    /* text-align: center; */
}

/* #initiative-table {
    max-width: 300px;
} */

/* Sidebar */

#sidebar {
    background-color: lightgrey;  
    /* min-height: 100vh; Full height of viewport */
  }

#supp-total {
    color: var(--yellow);
}

/* Table generics */

.table-container {
    margin-top: 20px;
}

thead > tr > th {
    text-align: left;
}

th {
    background-color: var(--lightGray);
}

tr {
    border-width: 2px;
}

tr td {
    border-bottom: 1px solid black;
}

/* Action buttons */

.action-btns {
    text-align: center;
}

.delete {
    background-color: #ee9286;
}
.delete .btn-delete, .keep .btn-carryover, .supp .btn-supplemental {
    background-color: #373A37;
}
.keep {
    background-color: #90ee90;
}
.supp {
    background-color: #e0b472;
}

.btn-delete {background-color: var(--orange);}
.btn-supplemental { background-color: var(--yellow);}
.btn-carryover {background-color: var(--green);}
.btn-add { background-color: var(--spiritgreen);}

/* Go to next page */

.new-row{
    margin: 20px;
    text-align: center;
}
.next-button-row {
    text-align: right;
}
.btn-next, .btn-last {
    background-color: var(--blue);
}
.btn-next:hover, .btn-last:hover {
    background-color: var(--yellow);
}

/* Rollup table */

.btn-info {
    border-radius: 0%;
    background-color: var(--lightBlue);
    margin-left: 10px;
    color: black;
}

.confirm-btn:hover {
    background-color: var(--green);
}

.btn-edit {
    background-color: var(--blue);
    margin-left: 10px;
}

/* textbox width in table */
input {
    width: 100%;
}

/* Rolled up personnel */

.btn-see-calcs {
    display: none;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--blue);
}

.icon-button:hover {
    color: var(--orange);
}

.error-message {
    color: red;
}


