/* Welcome page (index.html) */

.step {
    width: 60%;
    height: 80px;
    font-size: 1.75em;
    margin-bottom: 0px; /* Adds spacing between buttons */
    margin-left: 20%;
    border-color: var(--citygreen);
    border-width: 2;
    color: var(--citygreen);
    background-color: white;
}

.step:hover {
    color: white;
    background-color: var(--spiritgreen);
}

#welcome-page {
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
}
.step.disabled {
    opacity: 50%;
}