/* Welcome page (index.html) */

.step {
    width: 60%;
    height: 80px;
    font-size: 1.75em;
    margin-bottom: 0px; /* Adds spacing between buttons */
    margin-left: 20%;
}

#step-upload { background-color: var(--blue);}
#step-initiatives { background-color: var(--orange); }
#step-revenue {background-color: var(--green);}
#step-personnel {background-color: var(--citygreen);}
#step-nonpersonnel {background-color: var(--yellow);}
#step-finish {background-color: var(--spiritgreen);}

.step:hover {
    color: white;
    opacity: 50%;
}

#welcome-page {
    justify-content: center; 
    align-items: center; 
}