#prompt-div {
    display: none;
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

#prompt {
    text-align: center;
}

#option1, #option2 { 
    font-size: 1.5em;
    border-color: var(--citygreen); 
    border-width: 2px;
    background-color: var(--white);
    color: var(--citygreen);
}

#option1:hover, #option2:hover { 
    background-color: var(--spiritgreen);
    color: white;
}

#option2.clicked, #option1.clicked {
    font-weight: bold;
    background-color: var(--spiritgreen);
    color: white;
    border-width: 3;
}
