#prompt-div {
    display: none;
    text-align: center;
}

#prompt {
    text-align: center;
}

#option1 { background-color: var(--green);}
#option2 {background-color: var(--orange);}
#option1, #option2 { font-size: 1.5em; }