.summary-accordion {
    width: 60%;
    margin: auto;
}

.accordion-title {
    margin-left: 20%;
    font-weight: bold;
    /* font-size: 20px; */
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 30px;
}

.accordion-button:active, .accordion-button:not(.collapsed) {
    background-color: var(--palegreen);
    color: var(--citygreen);
    /* font-size: 20px; */
}

.accordion-table { 
    width: 100%;
    font-size: 1.2em;
    /* border-collapse: separate; This is required for rounded corners */
}

.accordion-table td:last-child {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px
}

.accordion-table tr {
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

.accordion-table tr:last-child {
    border-bottom: none;
    background-color: var(--mediumGray);
    height : 50px;
}

span.amount {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: 60px;
}

.accordion-header button {
    font-size: 0.8em;
}

.btn-add-init {
    background-color: var(--spiritgreen);
    border-color: var(--citygreen);
    /* position: absolute; */
    right: 0;
    /* margin-left: 20px; */
    /* margin-right: calc(20vw + 15px); */
    margin-top: 15px;
}

#supp-title {
   margin-top: 20px;
}

.btn-add-init:hover {
    background-color: var(--palegreen);
}
.add-init-btn-div{
    text-align: center;
}

span.top-line-amount {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: calc(20vw + 20px);
}