thead > tr > th {
    text-align: left;
}

th {
    background-color: var(--lightGray);
}

tr {
    border-width: 2px;
    background-color: white;
}

tr td {
    border-bottom: 1px solid black;
}

/* textbox width in table */
input {
    width: 100%;
}

div.table-container {
    overflow-x: auto; 
    overflow-y: auto;
    margin-left: max(65px, 7vh);
    margin-right: max(65px, 7vh);
    /* max-width: calc(100vw - var(--sidebar-width));  */
    /* margin: auto; */
    max-height: max(300px, 4vh);
    /* min-height: 120px; */

}
  
#main-table {
    font-size: calc(0.6vw + 0.5em);
    margin: auto;
    /* width: 100%; */
}

/* Add new row button */
.btn-add { 
    background-color: var(--spiritgreen);
    margin-top: 20px;
    display: none;
}

.btn-delete {
    background-color: var(--orange);
}

#add-btn-div {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    width: 100%;
}

.btn-edit {
    background-color: var(--spiritgreen);
}

.active-editing, .selected {
    background-color: var(--palegreen);
}

.selected { 
    font-weight: bold;
}

.btn-confirm {
    display: none;
}

.confirm-btn:hover {
    background-color: var(--green);
}

.hover-effect:hover {
    cursor: pointer;
    background-color: var(--verypalegreen); /* You can choose any color you like */
}