thead > tr > th {
    text-align: left;
}

th {
    background-color: var(--lightGray);
}

tr {
    border-width: 2px;
}

tr td {
    border-bottom: 1px solid black;
}

/* textbox width in table */
input {
    width: 100%;
}

.table-container {
    display: table; 
    margin: auto; 
}
  
#main-table {
    width: auto; 
    margin: auto; 
}


